<footer class="footer">
  <ul class="footer__links">
    <li><a href="https://www.instagram.com/organisedfun_/">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/brendasjahrial/">LinkedIn</a></li>
    <li><a href="mailto:brenda.sjahrial@gmail.com">Email</a></li>
  </ul>

  <p>Last updated on <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time></p>
</footer>
