<header class="header">
  <h1>
    <a href="/" class="header__home-link js-ajax-link">Brenda Sjahrial</a>
  </h1>
  <div class="divider">
    <a href="/about" class="js-ajax-link">&#10022;</a>
  </div>
</header>
