<header class="header">
  <a href="/" class="header__arrow js-ajax-link">
    {% include "../_svgs/icon-arrow-left.svg" %}
  </a>
  <div class="header__inner">
    <h1>
      <a href="/" class="js-ajax-link">Peter Larkin</a>
    </h1>
  </div>
  <div class="header__smiley">
    {% include "../_svgs/icon-smiley.svg" %}
  </div>
</header>
