<div class="zig">
  <div class="zag">
    <div class="zag__left"></div>
    <div class="zag__bottom"></div>
  </div>
</div>

<div class="zig">
  <div class="zag zag--2">
    <div class="zag__left"></div>
    <div class="zag__bottom"></div>
  </div>
</div>

<div class="zig">
  <div class="zag zag--3">
    <div class="zag__left"></div>
    <div class="zag__bottom"></div>
  </div>

  <div class="zig-end">
    <div class="label zig-end__label">
      Client
    </div>

    <div class="label zig-end__label zig-end__label--second">
      Role
    </div>
  </div>
</div>
