<div class="zig">
  <div class="zag">
    <div class="zag__left-wrap">
      <div class="zag__left js-zag"></div>
    </div>
    <div class="zag__bottom-wrap">
      <div class="zag__bottom js-zag"></div>
    </div>
  </div>
</div>

<div class="zig">
  <div class="zag zag--2">
    <div class="zag__left-wrap">
      <div class="zag__left js-zag"></div>
    </div>
    <div class="zag__bottom-wrap">
      <div class="zag__bottom js-zag"></div>
    </div>
  </div>
</div>

<div class="zig">
  <div class="zag zag--3">
    <div class="zag__left-wrap">
      <div class="zag__left js-zag"></div>
    </div>
    <div class="zag__bottom-wrap">
      <div class="zag__bottom js-zag"></div>
    </div>
  </div>

  <div class="zig-end js-zig-end">
    <div class="label zig-end__label js-zig-label-1">
      Client
    </div>

    <div class="label zig-end__label zig-end__label--second js-zig-label-2">
      Role
    </div>
  </div>
</div>
