:root {
  --vh: 100vh;
}

.intro {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto fit-content(100%);

  &__text {
    grid-column: auto / span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin-bottom: $gtr / 2;
    }

    p {
      font-size: rem(36);
      letter-spacing: rem(-0.6);
      color: $light-green;
    }
  }

  &__canvas {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__highlights {
    display: flex;
    align-items: center;
    padding-bottom: $gtr * 2;
    transform: translateX(-$gtr + rem(2));

    .icon {
      margin-right: $gtr;
    }
  }
}
