<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js" >
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.title or site.name}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">

    {# Open graph related #}
    <meta property="og:title" content="{{ title or site.title or site.name }}" />
    <meta property="og:type" content="{{ site.type }}" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{% if image %}{{ site.url }}/assets/static/{{ image }}{% else %}{{ site.image }}{% endif %}" />
    <meta property="og:site_name" content="{{ name or site.name }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    {# Based on https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/assets/static/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/static/apple-touch-icon.png">

    <script>
      var root = document.documentElement;
      root.classList.remove('no-js');
      root.classList.add('js');
    </script>

    <link rel="stylesheet" href="{% webpack 'main.css' %}">
  </head>
  <body class="{{ bodyClass }}">

    {% include 'header.njk' %}

    <main>
      <div class="container">
        <div id="js-ajax-container">
          {{ content | safe }}
        </div>
      </div>
    </main>

    {% include 'footer.njk' %}

    <section class="about is-hidden" id="js-about">

      <div class="about__inner">
            <button class="about__close btn btn--iris btn--iris-yellow" id="js-about-close">
        {% include "../_svgs/icon-close.svg" %}
      </button>
        <div class="about__content">
          <div class="about__label">
            <span class="label">
              <span>About</span>
            </span>
          </div>
          <div class="about__bio">
            <p class="text text--green">Motivated by a desire to solve real-world problems, I bring a mix of strategic thinking, creative ideas and executional detail to help create work that's bold and meaningful. With a strong focus on digital design and coding, I've spent the last ten years working as an all-round creative, leading to my current role as Creative Director at purpose-led creative agency <a href="https://niceandserious.com/">Nice and Serious</a>.</p>
            <p class="text text--green">During my career, I've helped build brands, digital products and award-winning campaigns that have played a part in shifting perceptions, raising money, driving action and changing policy.</p>
          </div>
          <div class="about__label">
            <span class="label">
              <span>Selected&nbsp;Clients</span>
            </span>
          </div>
          <div class="about__clients">
            <div class="text text--green">
              <ul class="list">
              {% for client in site.clients %}
                <li class="list__item">{{ client }}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="loader" id="js-loader">
      {% include "../_svgs/icon-smiley.svg" %}
    </div>

    <script async defer src="{% webpack 'main.js' %}"></script>
  </body>
</html>
