---
layout: default
bodyClass: entry
---

<div class="entry__container" id="js-ajax-content">
  <div class="entry__info">
    <h2>{{ title }}</h2>
    <hr>
    <h3 class="label">Client</h3>
    <p>Refugee Action</p>
    <h3 class="label">Agency</h3>
    <p>Nice and Serious</p>
    <h3 class="label">Role</h3>
    <p>Creative Director + Design</p>
  </div>

  <div class="entry__main">
    {% image "refugee-action-1.png", "Image alt" %}

    <div class="entry__text">
      {{ content | safe }}
    </div>
  </div>
</div>
