.entry {
  main {
    padding-top: $gtr;
    padding-bottom: ($gtr * 2);
    color: $white;

    @include media($m-screen-up) {
      padding: ($gtr * 6);
    }
  }

  .label {
    color: $light-blue;
  }

  &__container {
    max-width: $max-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__info {
    grid-column: auto / span 3;
    margin-right: $gtr;

    h2 { margin-bottom: $gtr; }

    hr {
      border-style: solid;
      border-color: $yellow;
      margin-bottom: $gtr * 2;
    }

    p {
      font-size: rem(24);
      margin-bottom: $gtr * 2;
    }
  }

  &__main {
    grid-column: auto / span 9;
    margin-left: $gtr;
  }

  &__text {
    margin-top: $gtr;
    width: 60%;

    h3 {
      @extend .label;
    }

    p {
      font-size: rem(24);
      margin-bottom: $gtr * 2;
    }
  }
}
