.work {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: ($gtr * 2);

  &__list {
    @include listReset;
    grid-column: 4 / span 9;
  }

  &__item {
    position: relative;
  }
}
