---
layout: default
title: About
---

<div id="js-ajax-content">
  <section class="about masthead">
    <p>Hello, I’m Brenda, a strategist based in London. Currently working at <a href="https://dnco.com/">dn&co</a> on place-branding. Previously at <a href="https://niceandserious.com">Nice and Serious</a>.</p>
    <p>I grew up in Jakarta and Singapore, before coming to London to study advertising at UAL. Since my degree, I’ve worked on campaigns and brand strategies for innocent, Nando’s, Macmillan and WWF.</p>
    <p>I love researching and getting immersed in different worlds, finding new ways of looking at things and turning them into compelling stories.</p>
  </section>
</div>
