---
layout: default
bodyClass: home
---

<div id="js-ajax-content">
  <section class="intro">
    <div class="intro__text">
      <h1>Peter Larkin</h1>
      <p>
        Motivated by a desire to solve real-world problems, I bring a mix of strategic thinking, creative ideas and executional detail to help create work that's bold and meaningful.
      </p>
    </div>
    <div class="intro__canvas" id="js-sphere"></div>
    <div class="intro__highlights" id="js-highlights">
      {% include "./_svgs/icon-arrow-down.svg" %}
      <span class="label">Highlights</span>
    </div>
  </section>

  {% include "zig-zag.njk" %}

  <section class="work">
    <ul class="work__list">
      {%- for post in collections.work -%}
      <li class="work__item">
        <a href="{{ post.url }}" class="card js-ajax-link">
          <div class="card__main">
            <div class="card__details">
              <p class="card__client">{{ post.data.client }}</p>
              <p class="card__type a-label">{{ post.data.type }}</p>
            </div>
            <div class="card__role">
              {{ post.data.role }}
            </div>
          </div>
          <div class="card__expand">
            {% include "./_svgs/icon-eye.svg" %}
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </section>
</div>
