---
layout: default
bodyClass: home
---

<div id="js-ajax-content">
  <section class="intro">
    <div class="intro__text">
      <h1>Peter Larkin</h1>
      <p class="label">
        Creative Director / <a href="https://niceandserious.com">Nice and Serious</a>, London
      </p>
      <p class="text--large text--light-green">
        Motivated by a desire to solve real-world problems, I bring a mix of strategic thinking, creative ideas and executional detail to help create work that's bold and meaningful.
        <button class="intro__btn btn btn--iris btn--iris-text label" id="js-about-open">More</button>
      </p>
    </div>
    <div class="intro__canvas" id="js-sphere"></div>
    <div class="intro__highlights" id="js-highlights">
      {% include "./_svgs/icon-arrow-down.svg" %}
      <span class="label">Highlights</span>
    </div>
  </section>

  <div class="zig-zag">
    {% include "zig-zag.njk" %}
  </div>

  <section class="work">
    <ul class="work__list">
      {%- for post in collections.work -%}
      <li class="work__item js-work-item">
        <a href="{{ post.url }}" class="card js-ajax-link">
          <div class="card__main">
            <div class="card__details">
              <p class="card__client">{{ post.data.client }}</p>
              <p class="card__type a-label">{{ post.data.type }}</p>
            </div>
            <div class="card__role">
              {{ post.data.role }}
            </div>
          </div>
          <div class="card__expand">
            {% include "./_svgs/icon-eye.svg" %}
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </section>

  <section class="about is-hidden" id="js-about">

    <div class="about__inner">
          <button class="about__close btn btn--iris btn--iris-yellow" id="js-about-close">
      {% include "./_svgs/icon-close.svg" %}
    </button>
      <div class="about__content">
        <div class="about__label">
          <span class="label">
            <span>About</span>
          </span>
        </div>
        <div class="about__bio">
          <p class="text text--green">Motivated by a desire to solve real-world problems, I bring a mix of strategic thinking, creative ideas and executional detail to help create work that's bold and meaningful. With a strong focus on digital design, I've spent the last ten years working as an all-round creative, leading to my current role as Creative Director at purpose-led creative agency Nice and Serious.</p>
          <p class="text text--green">During my career, I've helped build brands, digital products and award-winning campaigns that have played a part in shifting perceptions, raising money, driving action and changing policy.</p>
        </div>
        <div class="about__label">
          <span class="label">
            <span>Selected&nbsp;Clients</span>
          </span>
        </div>
        <div class="about__clients">
          <div class="text text--green">
            <ul class="list">
            {% for client in site.clients %}
              <li class="list__item">{{ client }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
