// Typography
$ff: 'Fraunces', serif;
$ff-default-settings: 'opsz' 40, 'SOFT' 50, 'WONK' 0;
$ff-heading-settings: 'opsz' 100, 'SOFT' 85, 'WONK' 1;
$fw-bold: 600;
$fw-regular: 300;

// Colors
$black: #000A00;
$daisy: #F9D27E;
$peach: #F1945E;
$violet: #8764F6;
$forest: #315434;
$off-white: #F9F2E6;
$white: #FFFFFF;

// Spacing
$gtr               : rem(15);
$max-width-wide    : rem(1080);
